sudo: false
branches:
  only:
    - master
cache: bundler
before_script: cp config/database.yml.sample config/database.yml
language: ruby
rvm:
  - 2.1.5
script: bundle exec rake db:create db:migrate spec
