/[if lt IE 7]
  %p.chromeframe
    You are using an
    %strong outdated
    browser. Please
    %a(href="http://browsehappy.com/")
      upgrade your browser
    or
    %a(href="http://www.google.com/chromeframe/?redirect=true")
      activate Google Chrome Frame
    to improve your experience.
