#footer

  -# cross-site navigation, add correct links
  %nav
    %ul
      %li
        %a(href="http://eurucamp.org" title="#{t("footer_nav.eurucamp.title")}")
          = t("footer_nav.eurucamp.label")
      %li
        %a(href="http://jrubyconf.eu" title="#{t("footer_nav.jrubyconf.title")}")
          = t("footer_nav.jrubyconf.label")
