#footer

  -# cross-site navigation, add correct links
  %nav
    %ul
      %li
        %a(href="http://euru.camp" title="#{t("footer_nav.eurucamp.title")}")
          = t("footer_nav.eurucamp.label")
