#footer

  -# cross-site navigation, add correct links
  %nav
    %ul
      %li
        %a(href="http://eurucamp.org" title="#{t("footer_nav.eurucamp.title")}")
          = t("footer_nav.eurucamp.label")

= javascript_include_tag "//eurucamp-week-bar.herokuapp.com/bar.js?group=rand_days&color=e55924"