#footer

  -# cross-site navigation, add correct links
  %nav
    %ul
      %li
        %a{ href: "https://isleofruby.org", title: t("footer_nav.isleofruby.title") }
          = t("footer_nav.isleofruby.label")
