%header#header.page-header
  = render "partials/navigation"

  -# the logo, link home
  .page-header-text
    %h1
      = link_to "/" do
        = image_tag "hero/IoR_text.svg", alt: "Isle of Ruby 2018"
  %h2 Events around Isle of Ruby
