%section.oauth
  = link_to "/auth/github", class: "github" do
    .container
      %h4
        Sign in with Github

  = link_to "/auth/twitter", class: "twitter" do
    .container
      %h4
        Sign in with Twitter
