form.filters {
  @extend %clearfix;

  border-radius: 3px;
  overflow: hidden;
  padding: 0 0 2.5em 0;

  label {
    background: lighten($extra-light-gray, 5);

    @extend %smaller-text;

    color: $gray;
    text-transform: uppercase;

    @include custom-sans(medium);

    border: none;
    display: block;
    padding: 0.75em 1em;
    margin: 0 0 1px 0;
    text-align: left;
    transition: all 0.5s;

    &.participant,
    &.owner {
      &:before {
        content: "•";
        font-size: 2.5em;
        display: inline-block;
        margin: 0 0.25em 0.25em 0;
        line-height: 1px;

        html.no-js & {
          margin: 0 0.25em 0.1em 0;
        }
      }
    }

    &.participant:before {
      color: $green;
    }

    &.owner {
      border-radius: 0 0 3px 3px;

      &:before {
        color: $yellow;
      }
    }

    &.search {
      background: none;
      padding: 0;
      margin-top: 1em;
      width: 100%;

      &:hover {
        background: none;
      }

      input {
        background: $white image-url("shared/search.png") no-repeat right center;
        border: 1px solid $light-gray;

        &:focus {
          border-color: $blue;
          background: none;
        }
      }

      a {
        position: absolute;
        right: 0;
        top: 1em;
      }
    }

    strong {
      @include custom-sans(light);

      float: right;
      margin: 0 0 0 0.75em;
    }

    &:hover {
      color: $white;
      background: $blue;
      cursor: pointer;
      transition: all 0.15s;
    }

    &.selected {
      color: $white;
      background: $medium-gray;
    }
  }

  input {
    &[type=radio] {
      margin: 0 0.75em 0 0;
    }
  }

  button {
    background: $medium-gray;
    border-radius: 3px;
    color: $white;
    border: none;
    margin: 1em auto;
    padding: 0.4em 2em;
    display: block;
    transition: all 0.15s;

    &:hover {
      transition: all 0.15s;
      color: $white;
      background: $blue;
    }
  }

  button, input[type=radio] {
    html.js & {
      display: none;
    }
  }

  @include grid-media($tablet-lite-plus) {
    border-radius: none;
    overflow: visible;
    float: left;
    padding: 0 0 4.5em 0;

    label {
      display: inline-block;
      margin: 0 1px 0 0;

      strong {
        float: none;
      }

      &:first-child {
        border-radius: 3px 0 0 3px;
      }

      &.owner {
        border-radius: 0 3px 3px 0;
        margin: 0;
      }

      &.search {
        position: absolute;
        top: 4em;
        margin-top: 0;
        left: 0;
      }
    }

    button {
      margin: 0 0 0 0.5em;
      padding: 0.45em 0.75em;
      display: inline-block;
    }
  }
}
