form.filters
  @extend %clearfix
  border-radius: 3px
  overflow: hidden
  float: left
  padding: 0 0 4.5em 0

  label
    background: $extra-light-gray
    @extend %smaller-text
    color: $gray
    text-transform: uppercase
    +custom-sans(medium)
    border: none
    display: block
    padding: 0.75em 1em
    +transition(all 0.5s)

    &.participant,
    &.owner
      &:before
        content: "•"
        font-size: 2.5em
        display: inline-block
        margin: 0 0.25em 0.25em 0
        line-height: 1px

        html.no-js &
          margin: 0 0.25em 0.1em 0

    &.participant:before
      color: $green

    &.owner:before
      color: $yellow

    &.search
      background: none
      position: absolute
      top: 4em
      left: 0
      padding: 0
      width: 100%

      &:hover
        background: none

      a
        position: absolute
        right: 0
        top: 1em

    strong
      +custom-sans(light)
      float: right
      margin: 0 0 0 0.75em

    &:hover
      color: $white
      background: $blue
      cursor: pointer
      +transition(all 0.15s)

    &.selected
      color: $white
      background: $medium-gray

  input
    &[type=radio]
      margin: 0 0.75em 0 0

  button
    background: $medium-gray
    border-radius: 3px
    color: $white
    border: none
    margin: 1em auto
    padding: 0.4em 2em
    display: block
    +transition(all 0.15s)

    &:hover
      +transition(all 0.15s)
      color: $white
      background: $blue

  button, input[type=radio]
    html.js &
      display: none


  +media($tablet-lite)
    border-radius: none
    overflow: visible

    label
      display: inline-block
      margin-right: 1px

      strong
        float: none

      &:last-of-type
        border-radius: 0 3px 3px 0
        margin: 0

      &:first-child
        border-radius: 3px 0 0 3px

    button
      margin: 0 0 0 0.5em
      padding: 0.45em 0.75em
      display: inline-block
