form#new-activity {
  input.date-capture,
  input.time-capture {
    display: none;
  }

  html.js & {
    .select {
      display: none;
    }

    input.date-capture,
    input.time-capture {
      display: inline;
    }
  }

  span {
    &.divider {
      width: 10%;
      text-align: center;
    }
  }

  fieldset {
    &.start-time,
    &.end-time {
      display: inline-block;
      width: 45%;
      position: relative;

      span.validation-error-message {
        position: relative;
        float: right;
        line-height: 1.5em;
        top: 0;
        right: 15px;
      }
    }

    &.end-time {
      float: right;
    }

    &.anytime {
      clear: both;

      span {
        @include custom-sans(bold);

        text-transform: uppercase;
        margin: 0 1em 0 15px;
      }
    }
  }

  input {
    &.date-capture {
      width: 69%;
    }

    &.time-capture {
      width: 4em;
      text-align: center;
      width: 30%;
    }
  }

  label {
    &.location {
      display: inline-block;

      @include grid-column(6);
      @include grid-media($tablet-lite) {
        @include grid-column(3);
      }
    }

    &.limit-of-participants {
      display: inline-block;
      text-align: right;

      @include grid-column(6);

      @include grid-media($tablet-lite) {
        @include grid-column(1);

        input {
          width: 85%;
        }
      }
    }

    &.image-url {
      .preview {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 1000;
        height: 2.9em;
        width: 2.9em;
        border-radius: 1.45em;
        background-position: center;
        background-size: cover;

        &.checking {
          background-size: auto !important;
          background-repeat: no-repeat !important;
          background-image: image-url("shared/checking.gif") !important;
        }
      }
    }
  }

  button {
    font-size: 1.5em;
  }

  .meeting-point-map {
    display: none;
    width: 80%;
    padding: 3em 0;
  }
}

.delete-activity {
  margin-top: 4em;

  header {
    margin-bottom: 0.5em;
  }

  button {
    background-color: $red;
  }
}
