// wrapper around image + canvas
.progress-wrapper {
  padding: 6px;
  width: 162px;
  width: 162px;
  margin: 0 auto;

  @extend %transition-all-15s-ease-out;

  canvas {
    z-index: 99 !important;
  }
}

// big round image
.progress {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-size: cover;
  background-position: center;
  background-image: image-url("shared/activity_placeholder.jpg");
}

img.requires_event_ticket {
  width: 40px;
  height: 40px;
}
