$types: participant ok remove, owner edit edit

#activity
  header
    p.info
      background: $extra-light-gray
      border: 1px solid $light-gray
      padding: 1em
      +custom-sans(medium)

  .action
    position: absolute
    right: 0
    top: 0

    a, button
      @extend %icon-button-ok

    // select action type based on card variation
    @each $type in $types
      &.#{nth($type, 1)}
        a, button
          @extend %icon-button-#{nth($type, 3)}

  section
    width: percentage(1/3)
    float: left
    position: relative

    &.description
      +custom-serif
      line-height: 1.35em

      h1, h2, h3, h4, h5, h6
        +custom-sans(bold)
        text-transform: uppercase
        margin: 1.5em 0 0
        font-size: 1em

      .wrapper
        margin-right: 50px

    &.overview
      text-align: center

      .progress-wrapper
        width: 274px
        height: 274px
        padding: 12px

      .progress
        width: 250px
        height: 250px
        border-radius: 125px

      p
        margin: 1em 0 0
        font-size: 1.25em

      a
        @extend %secondary-button
        margin: 1em 0

    &.details
      dl.wrapper
        margin-left: 50px
        @extend %clearfix
        border-bottom: 1px solid $light-gray

      dt, dd
        float: left
        line-height: 3em
        line-height: 1.35em
        padding: 1em 0
        width: 50%
        border-top: 1px solid $light-gray

      dt
        +custom-sans(medium)
        clear: left

      dd
        +custom-serif
        margin: 0

    &.participants
      width: 100%
      padding: 2em 0
      clear: both
      display: none

      h3
        +custom-sans(light)
        text-align: center
        @extend %ornamental-divider-after

      ul
        @extend %unlisted
        text-align: center

      li
        padding: 0 5px
        +inline-block

      img
        border-radius: 24px
        width: 48px
