form
  input, textarea
    width: 100%
    padding: 0.75em 15px 1em
    background: $white
    border-bottom: 1px solid $white
    margin: 0 0 2px 0
    font-size: 1.25em
    border: none
    outline: none
    +custom-sans(light)
    z-index: 1
    position: relative
    resize: none

    +placeholder
      color: darken($light-gray, 10)

    &.markdown
      background-image: image-url('shared/markdown.png')
      background-repeat: no-repeat
      background-position: top right

    &.title
      font-size: 1.35em
      +custom-sans(medium)

    &.validation-error
      border-bottom: 1px solid $red

      +placeholder
        color: lighten($red, 30)

    &:focus
      z-index: 1000
      box-shadow: 0 0 7px transparentize($black, 0.9)

      &.markdown
        background-image: none

  fieldset
    border: none
    padding: 0

  fieldset,
  label
    display: block
    margin: 0 0 1.25em
    position: relative

    span.validation-error-message
      position: absolute
      right: 15px
      top: 0
      color: $red
      z-index: 1000
      line-height: 4.25em

  hr
    background-color: $light-gray
    border-width: 0
    color: $light-gray
    height: 1px
    line-height: 1em
    margin: 1.25em auto
    text-align: center
    width: 50%

  span.divider
    display: inline-block

  label.inline
    display: inline

    input
      display: inline
      width: auto
      margin: 0 0.25em 0 0
      vertical-align: baseline

  small
    font-size: 0.85em
    text-align: right
    display: block
    color: $medium-gray
    padding: 0.5em 15px