.page-header {
  text-align:         center;
  padding:            0.5em 0;

  .page-header-text {
    padding-top: 50px;
    text-align: center;
    img {
      width: 80%;
      max-width: 500px;
    }
  }

  .page-header-sky {
    background:       #ACE2F7;
    background-image: linear-gradient(to bottom, #71C4EC 0%, #ACE2F7 100%);
    opacity:          .9;
  }

  h1 {
    clear: both;
    margin-bottom: 0;

    a {
      border: none;
      /*color: $purple;*/
      font-size: 180%;
    }
  }

  h2 {
    font-weight: normal;
    margin-top: 0;
  }

  nav.user-nav {
    float: right;

    ul {
      @extend %inline-nav-list;

      a {
        body.user & {
          color: $white;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
