html
  background: $white

body
  +custom-sans

a, a:visited
  color: $blue
  text-decoration: none
  border-bottom: 1px dotted $blue
  +transition(all 0.25s)

a:hover
  border: none
  +transition(all 0.25s)

#notifications
  div
    background: transparentize($green, 0.2)
    color: $white
    text-align: center
    z-index: 9999
    position: fixed
    top: 1em
    left: 1em
    right: 1em
    padding: 0.75em 0
    +custom-sans(bold)
    border-radius: 3px
    +animation-delay(0.25s)
    @extend %animated-bounce-in-down

    &.error, &.alert
      background: transparentize($red, 0.2)

  &.hide
    div
      @extend %animated-bounce-out-up

#main
  position: relative

article
  @extend %clearfix
  margin: 0 0 3em 0

  header
    text-align: center
    margin: 0 0 4em 0
    position: relative

    h2
      +custom-sans(light)
      font-size: 2em
      margin: 0
      @extend %ornamental-divider-after

      &:after
        margin-bottom: 0.25em

    .meta
      text-transform: uppercase
      @extend %smaller-text

      strong
        +custom-sans(medium)

        &.divider
          +custom-sans(bold)
          margin: 0 0.5em

// TODO: extract
// Pickadate overrides

.picker__input.picker__input--active
  border: none

.picker__box
  border-radius: 0 !important

.picker__nav--next,
.picker__nav--prev
  display: none !important

.picker__day--highlighted:hover,
.picker__day--infocus:hover,
.picker__day--outfocus:hover
  color: $white !important
  background: $blue !important

.picker--focused .picker__day--highlighted
  background: $green !important
  color: $white !important
  border: none !important

.picker__day--disabled:hover,
.picker--focused .picker__day--disabled
  border: none !important

.picker__day--disabled:hover,
.picker--focused .picker__day--disabled,
  background: $white !important
  color: $light-gray !important
  font-weight: 100 !important

.picker__day
  color: $black !important
  font-weight: 500 !important
  background: $extra-light-gray !important

.picker__list-item
  border-color: $light-gray !important

.picker__list-item:hover
  background: $blue !important
  border-color: $blue !important
  color: $white !important

.picker__list-item--selected,
.picker__list-item--selected:hover
  color: $white !important
  background: $green !important

.picker__list
  padding-bottom: 0 !important
