%form.filters(action=activities_path method="GET")
  %label>
    %input(type="radio" name="filter" value="today")
    Today
    %strong
      5
  %label.all.selected>
    %input(type="radio" name="filter" value="all")
      All
    %strong
      267
  %label.participant>
    %input(type="radio" name="filter" value="participant")
    My activities
    %strong
      2
  %label.owner>
    %input(type="radio" name="filter" value="owner")
    Created by me
    %strong
      0
  %label.search
    %input(type="text" name="search" placeholder="Search for an activity")
    %a.clear(href="#" title="Reset") Clear
  %button(type="submit") Filter

%a#new-activity(href="#" title="Create a new activity")
  Create an activity
  %span

%ul#activities
  = render @activities
